{% load static %}
<!-- В хэдере статику оставляем, на 7 строке подргружаю лого-->
<header class="p-3 mb-2 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'posts:index' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" />
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link px-2 text-secondary {% if view_name == 'about:author' %} text-white {% endif %}"
            href="{% url 'about:author' %}">Про автора</a>
        </li>
        <li class="nav-item">
          <a class=" nav-link px-2 text-secondary {% if view_name == 'about:tech' %} text-white {% endif %}"
            href="{% url 'about:tech' %}">Про стэк</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link px-2 text-secondary{% if view_name == 'posts:create_post' %} text-white {% endif %}"
            href="{% url 'posts:create_post' %}">Новая запись</a>
        </li>
      </ul>
      <div class="text-end">
        Добро пожаловать, {{ user.username }}!
        <a href="{% url 'users:password_change_form' %}"><button type="button" class="btn btn-outline-light me-2">
            Изменить пароль
          </button></a>
        <a href="{% url 'users:logout' %}"><button type="button" class="btn btn-warning">Выйти</button></a>
      </div>
      {% else %}
      </ul>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
        <a href="{% url 'users:login' %}"><button type="button" class="btn btn-outline-light me-2">
            Войти
          </button></a>
        <a href="{% url 'users:signup' %}"><button type="button" class="btn btn-warning">Регистрация</button></a>
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </div>
</header>