{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-3">
<div class="row">
  <h1>Для создания пригодились:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Django ORM
      </li>
      <li class="list-group-item">
        SQLite3
      </li>
      <li class="list-group-item">
        Git
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        Stack Overflow
      </li>
      <li class="list-group-item">
        Slack
      </li>
      <li class="list-group-item">
        Tea
      </li>
      <li class="list-group-item">
        Google x100
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Да, фронтэнд - не самая сильная сторона этого сайта (от слова совсем), но зато какой красивый бэк! Все запросы к БД отпимизировны, странички кэшируются, тесты написаны, код зарефакторен. Вам даже выдадут уникальный CSRF токен в качестве бонуса, если зарегестрируетесь. Бэк - сила, фронтэнд - могила 😂</p>
    <p>Интерфейс сайта автоматически переключается между светлым и темным в зависимости от настроек вашей OS.</p>
  </article>
</div>
</div>
{% endblock %}